/* brand colors */
$brand-color-blue: rgb(64, 112, 244);
$brand-color-green: rgb(43, 214, 123);
$brand-color-black: rgb(10, 33, 86);

/* grayscales */
$gray-10: rgb(231, 233, 237);
$gray-20: rgb(206, 210, 219);
$gray-30: rgb(182, 188, 201);
$gray-40: rgb(158, 165, 184);
$gray-50: rgb(133, 143, 166);
$gray-60: rgb(109, 121, 148);
$gray-70: rgb(85, 98, 130);
$gray-80: rgb(60, 76, 112);
$gray-90: rgb(36, 54, 94);
$gray-100: rgb(11, 31, 77);

/* semantic colors */
$support-01: rgb(64, 112, 244);
$support-02: rgb(11, 176, 123);
$support-03: rgb(255, 173, 13);
$support-04: rgb(240, 61, 61);
$support-04: rgb(60, 76, 112);

/* spacing scale */
$spacing-xxs: 10px;
$spacing-xs: 20px;
$spacing-s: 30px;
$spacing-m: 60px;
$spacing-l: 80px; 
$spacing-xl: 120px;
