@font-face {
  font-family: "Circular Medium";
  src: url(./../fonts/circular-std-medium-500.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Circular Std";
  src: url(./../fonts/circular-std-book.ttf);
  font-weight: 450;
}

@font-face {
  font-family: "Circular Bold";
  src: url(./../fonts/circular-std-bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Circular Std";
}

a {
  color: inherit;
  text-decoration: none;
}


